<div class="StoreItem" *ngIf="theItem">
    <div>Name: {{ theItem.name }}</div>
    <div>Price: <input type="text" [(ngModel)]="theItem.price" />
        <button (click)="deleteItem()">Delete</button>
    </div>
    <div>Quantity:
        <select [(ngModel)]="theItem.quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
        </select>
    </div>
</div>